* {
	box-sizing: border-box;
}


/* Header and logo
================================ */
#header {
	background-color: #FFFFF3;
	width: 100%;
	display: block;
	height: 220px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:20px 0px 0px 0px;
	height: 200px;

}
/* Content on index.html
================================ */
.main-content {
	width: 90%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding:0;
}

body {
	background: #FFFFF3;
	font-family: 'Quicksand', sans-serif;
}

.search {
	display: block;
	width: 100%;
	margin: auto;
}

h2 {
	margin: auto;
	padding-top: 0px;
	color: rgb(0, 174, 239);
}

#exampleLink:hover {
	text-decoration: underline;
	color: rgb(240, 91, 113);
	cursor: pointer;
}

/* For content in play.html and/or 404.html
================================ */

#iframe {
	width: 90%;
	height: 150px;
}
.primary-content {
	width: 90%;
	margin: auto;
	margin-top: 30px;
}

.primary-content h2 {
	margin-top: 10px;
	text-align: center;
	font-size: 2em;
}
.primary-content p {
	text-align: center;
	font-size: 1.5em;
}


/*For search bar and button 
================================ */

#search-label {
	font-size: 1.5em;
	width: 80%;
	margin: auto;
	text-align: center;
}

input[type=text] {
	width: 85%;
	height: 40px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 15px;
	display: block;
	background: inherit;
	margin-top: 20px;
	border: 0;
	border-bottom: 2px solid rgb(27, 20, 100);
	outline: 0;
	color: rgb(27, 20, 100);
	font-size: 1em;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FFFFF3 inset;
}

input[type=submit] {
	width: 85%;
	height: 40px;
	display: block;
	margin: auto;
	background-color: rgb(240, 91, 113);
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.3em;
	color: rgb(27, 20, 100);
}

/* For footer styling
================================ */
footer {
	display: block;
	margin: auto;
	padding-top: 10px;
	color: rgb(27, 20, 100);
	font-size: .75em;
	text-align: center;
}

#footer-link {
	color: rgb(240, 91, 113);
	text-decoration: none;
}





@media screen and (min-width: 500px) {
	/* Header and logo
	================================ */
	#header {
		margin-top: 100px;
		height: 260px;
	}

	#logo {
		height: 250px;
	}

	/* Content on index.html
	================================ */
	.main-content {
		width: 90%;
		font-size: 1.3em;
	}

	.search {
		width: 100%;
	}

	h2 {
		padding-top: 20px;
	}

	/*For search bar and button 
	================================ */
	input[type=text] {
		font-size: 1.7em;
	}

	/* For content in play.html and/or 404.html
	================================ */
	.primary-content {
		margin-top: 120px;
	}

	/* For footer styling
	================================ */
	footer {
		margin-top: 20px;
		font-size: 1.25em;
	}

}



@media screen and (min-width: 801px) {
	/* Header and logo
	================================ */
	#header {
		margin-top: 40px;
	}


	/* Content on index.html
	================================ */
	.main-content {
		width: 70%;
	}

	.search {
		width: 50%;
	}

	h2 {
		padding-top: 30px;
	}

	/* For content in play.html and/or 404.html
	================================ */
	.primary-content {
		width: 90%;
		margin: auto;
		margin-bottom: 50px;
	}

	/*For search bar and button 
	================================ */
	input[type=text] {
		width: 95%;
	}

	input[type=submit] {
		width: 33%;
	}

	/* For footer styling
	================================ */
	footer {
		margin-top: 0px;
		position: fixed;
		bottom: 0;
		margin-left: 15px;
		font-size: 1em;
	}
}


