{% extends "layout.html" %}
{% block content %}
	<div id='header'>
		<img id='logo' src="static/logo-big.png">
	</div>
	<div class="main-content">
		<h2>SoundBite finds the "best" 30 seconds of a SoundCloud song based on the timing of listeners' comments.</h2>
		<p id="exampleLink"><a src="#" onclick="fillIn()">Click here to fill in an example.</a></p>
		<script type="text/javascript">
			function fillIn() {
				document.getElementById('inputBox').value = "https://soundcloud.com/lo-freq-1/no-trust-feat-lauren";
			}
		</script>
	</div>
{% endblock %}

