{% extends "layout.html" %}
{% block content %}
	<div id='header'>
		<img id='logo' src="static/logo-big.png">
	</div>
	<div class="main-content">
		<h2>SoundBite finds the "best" 30 seconds of a SoundCloud song based on the timing of listeners' comments.</h2>
		<p><a src="#" onclick="fillIn()">Click here to fill in an example.</a></p>
		<script type="text/javascript">
			function fillIn() {
				document.getElementById('inputBox').value = "https://soundcloud.com/klingande/klingande-feat-broken-back-riva-restart-the-game-original-mix";
			}
		</script>
	</div>
{% endblock %}

