<!DOCTYPE html>
<html>
	<head>
		<title>Jam | Discover Your Jam</title>
		<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
		{% block content %}{% endblock %}
		<form id="submitTrack" action="{{ url_for('play') }}" method="POST">
			<input type="text" name="inputBox">
			<input type="submit" name="submitButton" id="submit" value="Jam!">
		</form>
		<footer>
			<p>Created + Designed By Angela Cheng</p>
		</footer>
	</body>
</html>